@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

::-webkit-scrollbar{
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}

#header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    width: 100%;
    text-align: center;
    padding: .5rem 1.875rem;
    border-bottom: #333333 0.5px solid;
}

#header-info span{
    font-size: .875rem;
    font-weight: 600;
    color: #ffffff;
}

#header-info #header-close{
    margin-top: .1875rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(650px, 100%, 1248px);
    padding: .625rem 1.5rem;
}

.header-container .header-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 5.75rem; 
} 

.header-menu, .header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.header-menu li, .header-btn{
    list-style: none;
}

.header-menu a, .header-btn a{
    text-decoration: none;
    color: #888888;
    font-size: .875rem;
    font-weight: 400;
    padding: .5rem;
}

.header-btn-features{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.header-btn-sign-up{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: .435rem .75rem;
    border-radius: .3125rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    color: #000000;
}

.header-btn-sign-up:hover{
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#header-menu-mobile{
    display: none;
}

.main-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;
}

.main-container .content span{
    font-size: 8rem;
    color: #ffffff;
    padding: 0 .5rem;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -.06em;
}

.content .gradient{
    background: linear-gradient(to right, #007cf0, #00e0d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-btn{
    display: flex;
    margin-top: 3.25rem;
    padding: .75rem;
}

.main-btn .button{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: .375rem;
    cursor: pointer;
    padding: .85rem 2.35rem;
}

.main-btn .start{
    background-color: #ffffff;
    font-weight: 500;
    color: #000000;
    border: 1px solid #ffffff;
}

.main-btn .start:hover{
    background: #000000;
    color: #ffffff;
}

.main-btn .demo{
    background: #000000;
    box-shadow: 0 0 60px 4px rgb(0, 124, 240, 0.5);
    font-weight: 600;
    color: #ffffff;
    margin-left: 1.5rem;
    padding: .85rem 3.25rem;
    border: 1px solid #00e0d9;
}

.main-btn .demo:hover{
    background: linear-gradient(to right, #00e0d9, #007cf0);
    color: #000000;
}

.main-container p{
    text-align: center;
    line-height: 32px;
    letter-spacing: -0.4px;
    font-size: 1.25rem;
    color: #888888;
    padding: 3.5rem 1.5rem;
    max-width: 78ch;
}

@media (min-width: 1200px){
    .main-container .content span{
        font-size: 10rem;
    }
}

@media (max-width: 970px){
    .header-menu, .header-btn{
        display: none;
    }

    #header-menu-mobile{
        display: block;
    }
}

@media (max-width: 720px){
    #header-info{
        justify-content: center;
    }

    #header-info #header-close{
        display: none;
    }

    .header-container{
        padding: 1rem 1.5rem;
        width: 100%;
    }

    .main-container .content{
        padding: 3.5rem 1.5rem;
        width: 100%;
    }

    .main-container .content span{
        font-size: 23vw;
    }

    .main-container p{
        padding: 3.5rem 0 0;
    }
}

@media (max-width: 600px){
    .main-btn{
        flex-direction: column;
        gap: 1.25rem;
        width: 100%;
    }

    .main-btn .demo{
        margin-left: 0;
    }
}