@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

::-webkit-scrollbar{
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}

/* Header */
#header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    width: 100%;
    padding: .5rem 1.875rem;
    border-bottom: #333333 0.5px solid;
}

#header-info span{
    font-size: .875rem;
    font-weight: 600;
    color: #ffffff;
}

#header-info #header-close{
    margin-top: .1875rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(650px, 100%, 1248px);
    padding: .625rem 1.5rem;
}

.header-container .header-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 5.75rem; 
} 

.header-menu, .header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.header-menu li, .header-btn{
    list-style: none;
}

.header-menu a, .header-btn a{
    text-decoration: none;
    color: #888888;
    font-size: .875rem;
    font-weight: 400;
    padding: .5rem;
}

.header-btn-features{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.header-btn-sign-up{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: .435rem .75rem;
    border-radius: .3125rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    color: #000000;
}

.header-btn-sign-up:hover{
    background: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#header-menu-mobile{
    display: none;
}

/* Main */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main-container .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    border-radius: .5rem;
}

.content form{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 1.25rem;
}

.content form h1, h2{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 1rem;
}

form .form-item label{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
    width: 100%;
}

.form-input{
    padding: .75rem;
    margin-top: .5rem;
    width: 100%;
    border-radius: .3125rem;
    border: 1px solid #444444;
    background-color: #111111;
    color: #444444;
}

.form-input:focus{
    outline: none;
    border: 1px solid #00e0d9;
    color: #ffffff;
}

.main-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.btn-login{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    background: #000000;
    box-shadow: 0 0 60px 4px rgb(0, 124, 240, 0.5);
    font-weight: 500;
    color: #ffffff;
    padding: 12px 2rem;
    border: 1px solid #00e0d9;
}

.btn-login:hover{
    background: linear-gradient(to right, #00e0d9, #007cf0);
    color: #000000;
}

.search-content{
    display: flex;
    align-items: end;
    gap: 1rem;
}

.btn-search{
    border-radius: 50%;
    cursor: pointer;
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: .525rem .675rem .425rem .575rem;
}

.btn-search:hover{
    background-color: #ffffff;
    color: #000000;
}

.weather-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0 3rem;
}

.weather-item{
    display: flex;
    align-items: center;
}

.weather-icon{
    width: 5rem;
    height: 5rem;
}

.city-name{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
}

.temperature{
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 400;
    position: relative;
    right: 10px;
}

.hidden{
    display: none !important;
}

@media (max-width: 970px){
    .header-menu, .header-btn{
        display: none;
    }

    #header-menu-mobile{
        display: block;
    }
}

@media (max-width: 720px){
    #header-info{
        justify-content: center;
    }

    #header-info #header-close{
        display: none;
    }

    .header-container{
        padding: 1rem 1.5rem;
        width: 100%;
    }
}